<div class="panel panel-default">
  <div class="panel-body">
    <p style = "color:white;">Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
<br>
<p> <%= link_to "Back", posts_path %> </p>

